.padding-xs {
  padding: 4px !important;
}

.padding-md {
  padding: 16px !important;
}

.margin-left-sm {
  margin-left: 8px !important;
}

.margin-left-md {
  margin-left: 16px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}
